.btn-group button {
  background-color: #3b0202; /* Color of the button background */
  border: 1px solid #3b0202; /* Color of the border */
  color: white; /* White text */
  padding: 10px 24px; /* Padding */
  cursor: pointer; /* Pointer icon */
  float: center; /* Float the buttons side by side */
}

/* Clear floats */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #321313;
}
